<div class="card mb-3"  style="width: 100%">
  <div class="card-body">
    <h5 class="card-title"><%= comment.author_id %></h5>

    <p class="card-subtitle mb-2 text-body-secondary">
      <small class="text-muted">
        <% if comment.updated_at != comment.created_at %>
          Modified at: <%= comment.updated_at.in_time_zone('Kyiv').strftime("%m.%d.%y %H:%M") %>
        <% else %>
          <%= comment.created_at.in_time_zone('Kyiv').strftime("%m.%d.%y %H:%M") %>
        <% end %>
      </small>
    </p>

    <p class="card-text"><%= comment.body %></p>

      <ul class="p-0">
      <% if can? :delete, comment %>
        <li class="card-link btn btn-danger">
            <%= link_to 'Destroy Comment', [comment.article, comment], data: {
                      turbo_method: :delete,
                      turbo_confirm: 'Are you sure?'
                    } %>
        </li>
      <% end %>            

      <% if can? :update, comment %>
        <li class="card-link btn btn-primary mx-0">
          <%= link_to 'Edit Comment', [:edit, comment.article ,comment] %>
        </li>
      <% end %>

    </ul>
  </div>
</div>
