<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter, for:"exampleInputEmail1", class:"form-label" %><br>
    <%= form.text_field :commenter, class:"form-control", id:"exampleInputEmail1" %>
  </p>
  <p>
    <%= form.label :body, for:"exampleFormControlTextarea1", class:"form-label" %><br>
    <%= form.text_area :body, class:"form-control", id:"exampleFormControlTextarea1", rows:"3" %>
  </p>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, %w[public private archived], selected: 'public' %>
  </div>
  
  <p>
    <%= form.submit class:"btn btn-primary" %>
  </p>
<% end %>
