<%= form_with model: article do |form| %>
  <div class="mb-3 text-center lead">   
    <%= form.label :title, for:"exampleInput", class:"form-label mb-3" %>
    <%= form.text_field :title, class:"form-control", type:"text" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3 text-center lead">
    <%= form.label :body, for:"exampleFormControlTextarea1", class:"form-label mb-3" %>
    <%= form.text_area :body, class: "form-control" %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </div>
<% end %>
