<% provide(:title, "Articles") %>

<h1 class="title">Articles</h1>

<div class="row justify-content-start m-2">
  <% @articles.each do |article| %>
    <div class="card col-12 col-sm-6 mb-4 m-2 mx-auto" id="card">
      <%= link_to article do %>
        <img src="<%= asset_path('panda.jpg') %>" class="card-img-top" alt="..." style="padding-top: 12px;">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= article.title.truncate(70, omission: '...') %></h5>
        <p class="card-text"><%= article.body.truncate_words(10, omission: '...')  %></p>
        <%= link_to article do %>
          <button class="btn btn-primary">View</button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New Article", new_article_path, class:"btn btn-primary" %>
