<% provide(:title, @article.title) %>

<h1 class="my-5 border-bottom"><%= @article.title %></h1>

<img src="<%= asset_path('panda.jpg') %>" class="card-img-top mx-auto" id="showimg" alt="...">

<p class="h-auto mx-auto lh-lg py-2 px-1" id="articlebody"><%= @article.body %></p>

<ul>
  <li class="btn btn-primary"><%= link_to "Edit", edit_article_path(@article) %></li>
  <li class="btn btn-danger">
  <%= link_to "Destroy", article_path(@article),
                         data: {
                           turbo_method: :delete,
                           turbo_confirm: "Are you sure?"
                         } %>
  </li>
</ul>

<div class="row" id="comment">
  <div class="col-12 col-lg-6 mb-3 mx-auto"> 
    <h2 class="border-bottom">Comments</h2>
    <%= render @article.comments %> 
  </div> 

  <div class="col-12 col-lg-6 mb-3 mx-auto" id="addcommentform"> 
    <h2 class="border-bottom">Add a comment</h2> 
    <%= render 'comments/form' %> 
  </div>
</div>

